<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">
	<head>
		<title>Veiculos</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container">
				<div class="row mt-4">
					<div class="col-sm-12 col-md-9">
						<h4>Pesquisa de Veiculos</h4>
					</div>
					<div class="col-sm-12 col-md-3" style="text-align:right;">
						<a th:href="@{/veiculos/novo}" type="button" class="btn btn-success">Cadastrar <i class="fa fa-plus"></i></a>
					</div>
				</div>
				<form th:action="@{/veiculos/pesquisarCa}" method="get">
					<label>Pesquisar pela matricula</label>
					<input type="text" name="nomePesquisa">
					<input type="submit" class="btn btn-success mt-1" value="pesquisar">
				</form>
				<hr>
				<table class="table table-stripped table-bordered">
					<tr>
						<th class="col-1">Codigo</th>
						<th class="col-2">Matricula</th>
						<th class="col-2">Rota</th>
						<th class="col-1">Licenca</th>
						<th class="col-2">Data de Emissao</th>
						<th class="col-2">Data Validade</th>
						<th class="col-2 text-center"><i class="fa fa-cogs"></i></th>
					</tr>
					<tr th:each="veiculo: ${veiculos}">
						<td th:text="${veiculo.codigo}"></td>
						<td th:text="${veiculo.matricula}"></td>
						<td th:text="${veiculo.rota?.origemDestino}+'-'+${veiculo.rota?.origemDestino}+"></td>
						<td th:text="${veiculo.Documento?.numero}"></td>
						<td th:text="${veiculo.Documento?.dataEmissao}"></td>
						<td th:text="${veiculo.Documento?.dataValidade}"></td>	
						<td class="text-center" >
							<a th:href="@{/veiculos/{codigo}(codigo = ${veiculo.codigo})}" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar"><i class="fa fa-edit"></i></a> 
							<a th:href="@{/veiculos/remover/{codigo}(codigo = ${veiculo.codigo})}" data-bs-toggle="tooltip" data-bs-placement="right" title="Remover"><i class="fa fa-trash text-danger"></i></a> 
						</td> 
					</tr>
					<tr th:if="${#lists.isEmpty(veiculos)}">
						<td colspan="7" class="text-center">Nenhum cadastro de Veiculo encontrado</td>
					</tr>
				</table>
			</div>
		</section>
	</body>
</html>