<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	>
	<head>
		<title>Cadastro de Denuncias</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container mt-4">
				<div th:replace="fragments/mensagemSucesso.html :: alert"></div>
				<div class="row">
					<div class="col-12 col-sm-9">
						<h4>Cadastro de Denuncias</h4>
					</div>
				</div>
				<hr>
				<div class="card">
					<div class="card-body">
						<form th:object="${denuncia}" method="post" th:action="@{/denuncias/novo}">
							<input type="hidden" />
							<div class="row">
							<div class="col-sm-12 col-md-4">
									<label for="capacidade">Descricao</label>
									<input type="text" class="form-control" id="capacidade" th:field="*{descricao}"/>
									<input type="hidden"  th:field="*{status}">
									<input type="hidden" >
								</div>
							<div class="col-sm-12 col-md-2">
									<label for="foto">Data</label>
									<input type="date" class="form-control" id="foto" />
								</div>
								<div class="col-sm-12 col-md-2">
									<label for="foto">Hora</label>
									<input type="time" class="form-control" id="foto" />
								</div>
								
							<div class="col-sm-12 col-md-4">
									<label for="foto">Foto</label>
									<input type="file" class="form-control" id="foto" th:field="*{foto}"/>
								</div>
								<div class="col-sm-12 col-md-4">
									<label for="veiculo" class="form-label">Veiculo</label>
									<select class="form-control" id="veiculo" th:field="${denuncia.veiculo}">
										<option value="">Selecione a matricula </option>
										<option th:each="vei: ${veiculos}"
										th:value="${vei.codigo}"
										th:text="${vei.matricula}+'-'+${vei.rota?.origem}+'-'+${vei.rota?.destino}">
										</option>
									</select>
								</div>	
								<div class="col-sm-12 col-md-4">
									<label for="foto">Clique no botao para obter a tua localizacao</label>
									<input type="submit" class="btn btn-success mt-1" value="localizacao">
								</div>
							
							</div>
							<button type="submit" class="btn btn-primary mt-4">Guardar</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>