<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">
	<head>
		<title>Denuncias</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container">
				<div class="row mt-4">
					<div class="col-sm-12 col-md-9">
						<h4>Pesquisa de Denuncias</h4>
					</div>
					<div class="col-sm-12 col-md-3" style="text-align:right;">
						<a th:href="@{/denuncias/novo}" type="button" class="btn btn-success">Denunciar <i class="fa fa-user-plus"></i></a>
					</div>
				</div>
				<form th:action="@{/denuncias/pesquisarCa}" method="get">
					<label>Pesquisar por status</label>
					<input type="text" name="nomePesquisa">
					<input type="submit" value="pesquisar">
				</form>
				<hr>
				<table class="table table-stripped table-bordered">
					<tr>
						<th class="col-1">Codigo</th>
						<th class="col-3">Ponto de Referencia</th>
						<th class="col-2">Status</th>
						<th class="col-2">Foto</th>
						<th class="col-2">Matricula</th>
						<th class="col-2">Rota</th>
						<th class="col-1 text-center"><i class="fa fa-cogs"></i></th>
					</tr>
					<tr th:each="denuncia: ${denuncias}">
						<td th:text="${denuncia.codigo}"></td>
						<td th:text="${denuncia.pontoreferencia}"></td>
						<td th:text="${denuncia.status}"></td>
						<td th:text="${denuncia.foto}"></td>
						<td th:text="${denuncia.veiculo?.matricula}"></td>
						<td th:text="${denuncia.veiculo?.rota?.origem}+'-'+${denuncia.veiculo?.rota?.destino}"></td>
						<td class="text-center">
							<a th:href="@{/denuncias/{codigo}(codigo = ${denuncia.codigo})}" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar"><i class="fa fa-user-edit"></i></a> 
							<a th:href="@{/denuncias/remover/{codigo}(codigo = ${denuncia.codigo})}" data-bs-toggle="tooltip" data-bs-placement="right" title="Remover"><i class="fa fa-trash text-danger"></i></a> 
						</td> 
					</tr>
					<tr th:if="${#lists.isEmpty(denuncias)}">
						<td colspan="6" class="text-center">Nenhum cadastro de denuncias encontrado</td>
					</tr>
				</table>
			</div>
		</section>
	</body>
</html>