<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}"
	>
	<head>
		<title>Cadastro de Paragens</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container mt-4">
				<div th:replace="fragments/mensagemSucesso.html :: alert"></div>
				<div class="row">
					<div class="col-12 col-sm-9">
						<h4>Cadastro de Paragens</h4>
					</div>
					<div class="col-12 col-sm-3" style="text-align: right;">
						<a type="button" class="btn btn-success" th:href="@{/paragens}">Pesquisar <i class="far fa-eye"></i></a>
					</div>
				</div>
				<hr>
				<div class="card">
					<div class="card-body">
						<form th:object="${rota}" method="post" th:action="@{/paragens/novo}">
							<input type="hidden" />
							<div class="row">
								<div class="col-sm-12 col-md-5">
									<label for="via" class="form-label">Descricao</label>
									<input type="text" class="form-control" id="via" >
								</div>
								<div class="col-sm-12 col-md-5">
									<label for="cor" class="form-label">Rota</label>
									<select class="form-control" id="cor" >
										<option value="">Selecione a Rota</option>
										
									</select>
								</div>
							</div>
							
							<button type="submit" class="btn btn-primary mt-4">Salvar </button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>