<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	>
	<head>
		<title>Cadastro de Reclamacoes</title>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="container mt-4">
				<div th:replace="fragments/mensagemSucesso.html :: alert"></div>
				<div class="row">
					<div class="col-12 col-sm-9">
						<h4>Cadastro de Reclamacoes</h4>
					</div>
					<div class="col-12 col-sm-3" style="text-align: right;">
						<a type="button" class="btn btn-success" th:href="@{/rotas}">Pesquisar <i class="far fa-eye"></i></a>
					</div>
				</div>
				<hr>
				<div class="card">
					<div class="card-body">
						<form  method="post" th:action="@{/reclamacoes/novo}">
							<input type="hidden" />
							<div class="row">
							<div class="col-sm-12 col-md-2">
									<label for="cor" class="form-label">Veiculo</label>
									<select class="form-control" id="cor" >
										<option value="">Selecione o Veiculo</option>
										
									</select>
								</div>
								<div class="col-sm-12 col-md-2">
									<label for="via" class="form-label">Data</label>
									<input type="date" class="form-control" id="via" >
								</div>
								<div class="col-sm-12 col-md-2">
									<label for="via" class="form-label">Hora</label>
									<input type="time" class="form-control" id="via" >
								</div>
								<div class="col-sm-12 col-md-6">
									<label for="cor" class="form-label">Descricao</label>
									<textarea rows="6" cols="4" class="form-control" id="via"></textarea>
								</div>
								
								
							</div>
							
							<button type="submit" class="btn btn-primary mt-4">Salvar </button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>